@charset "utf-8";
/* CSS Document */

.cent {
	margin-left: 120px;
	margin-top: 40px;
}

.btn {
	background:url("/TW/img/btn_form.png") no-repeat scroll 0 0 transparent;
	border:medium none;
	color:#FFFFFF;
	cursor:pointer;
	font-size:14px;
	height:29px;
	width:75px;
	margin-left: 70px;
}


.cent .label {
	vertical-align:top;
	font-size:14px;
	font-style:normal;
}

.onError {
color:#FF0000;
font-size:15px;
padding-left:20px;
}


.cent .errorMessage  {
color:#FF0000;
font-size:15px;
font-weight:normal;
margin-left: 110px;
}

.cent ul{
list-style:none outside none;
}

.cent .input {
	width: 300px;
}

.cent td {
	height: 40px;
}

.cent .tdLabel {
text-align:right;
vertical-align: middle;
}
