@charset "utf-8";
/* CSS Document */

h3 {
font-size:150%;
color:#444444;
font-weight:bold;
line-height:100%;
margin:20px 60px;
text-shadow:0 2px 3px rgba(0, 0, 0, 0.3);
}


html, body {
color:#382E1F;
font:12px/180% Optima,"Trebuchet MS",Tahoma,"Hiragino Sans GB","Microsoft Yahei",Sans-serif;
}


.inner {
	padding: 15px;
}

.tl {
	background: #f4f4ec url(/TW/img/avatar.png) no-repeat -76px -204px;
}

.tl, .related-bg {
	text-shadow: 0 1px 0 #fff;
}



/* Comments Layout ----------------------------------------------------------- */

#form_comments {
	width: 790px;
	/*float: right; */
}

#form_comments .br {
	padding-bottom: 1px;
}


.input, input.gsc-input {
	background: white url(/TW/img/input.png) repeat-x 0 -60px;
	border: 1px solid #a79d8f;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-left: 20px;
	padding: 2px;
	line-height: 15px;
	display: inline;
	width: 250px;
}

.input:focus, textarea:focus, input.gsc-input:focus {
	-moz-box-shadow: 0 0 3px rgba(85,153,204,0.3), 0 0 1px 2px rgba(66,150,234,0.8);
	box-shadow: 0 0 3px rgba(85,153,204,0.3), 0 0 1px 2px rgba(66,150,234,0.8);
	border-color: #59c;
}

.inputname {
	background-position: -40px center;
}

.inputemail {
	background-position: -352px center;
}

.inputurl {
	background-position: -647px center;
}

#form_comments h3 {
	margin-bottom: 10px;
}

#form_comments p {
	margin-bottom: 15px;
}

#show_author_info, #hide_author_info, #show_author_info input, #cancel_reply input {
	margin-left: 6px;
}

#hide_author_info {
	vertical-align: top;
}

#author_info {
	padding: 20px 0 10px;
}

#comment {
	width: 450px;
	padding: 5px;
	line-height: 20px;
	height: 300px;
	font-size: 14px;
}

.btn {
	background:url("/TW/img/btn_form.png") no-repeat scroll 0 0 transparent;
	border:medium none;
	color:#FFFFFF;
	cursor:pointer;
	font-size:14px;
	height:29px;
	margin:5px 10px 50px 150px;
	width:75px;
}

.errorMessage  {
color:#FF0000;
font-size:15px;
}

.label {
	vertical-align:top;
	font-size:14px;
	padding-left:100px;
}

.info {
	font-size:14px;
	padding-left:150px;
}

.onError {
color:#FF0000;
font-size:15px;
padding-left:60px;
}

.star {
font-size:14px;
padding-left: 10px;
}