/* Navigation */
#menu * {
	padding:0;
	float:left;
	z-index:2;
}
/* Navigation */
.nav, .nav ul { 
	list-style: none;
	width: 792px;
	height: 36px; 
	float: left;
	padding-left:0px;
	margin-top: 2px;
}

.nav {
  position: relative;
}

.nav li {
  height:36px;
  float: left;
  position: relative;
}
.nav li a, .nav li a:link, .nav li a:active, .nav li a:visited {
  display: block;
  height:36px;
}
.nav ul {
  list-style: none;
  width: 99px;
  position: absolute;
  top: -999em;
}
.nav li:hover ul,
.nav li.sfHover ul {
  top: 36px;
  margin:0;
  padding:0;
  left:0;
 opacity:0.5;
}	

.nav ul li {
  float: none;
}
.nav ul a {
  width: 99px;
  white-space: nowrap;
}
.nav li ul {
}
.nav li ul li {
	display:block;
	float:left;
	z-index:1;
}

#sjs a {
	background: url(../imgs/sjs.png) no-repeat;
	width: 99px;
}

#sjs a:hover {
	background: url(../imgs/sjs-hover.png) no-repeat;
	width: 99px;
}

#jgsz a {
	background: url(../imgs/jgsz.gif) no-repeat;
	width: 99px;
}

#jgsz a:hover {
	background: url(../imgs/jgsz-hover.gif) no-repeat;
	width: 99px;
}

#jctw a {
	background: url(../imgs/jctw.gif) no-repeat;
	width: 99px;
}

#jctw a:hover {
	background: url(../imgs/jctw-hover.gif) no-repeat;
	width: 99px;
}

#xszz a {
	background: url(../imgs/xszz.gif) no-repeat;
	width: 99px;
}

#xszz a:hover {
	background: url(../imgs/xszz-hover.gif) no-repeat;
	width: 99px;
}
			
#xwbd a {
	background: url(../imgs/xwbd.gif) no-repeat;
	width: 99px;
}

#xwbd a:hover {
	background: url(../imgs/xwbd-hover.gif) no-repeat;
	width: 99px;
}

#ndxww a {
	background: url(../imgs/ndxww.gif) no-repeat;
	width: 99px;
}

#ndxww a:hover {
	background: url(../imgs/ndxww-hover.gif) no-repeat;
	width: 99px;
}

#njdxb a {
	background: url(../imgs/njdxb.gif) no-repeat;
	width: 99px;
}

#njdxb a:hover {
	background: url(../imgs/njdxb-hover.gif) no-repeat;
	width: 99px;
}

#ndqnb a {
	background: url(../imgs/ndqnb.gif) no-repeat;
	width: 99px;
}

#ndqnb a:hover {
	background: url(../imgs/ndqnb-hover.gif) no-repeat;
	width: 99px;
}

#xygbt a {
	background: url(../imgs/xygbt.gif) no-repeat;
	width: 99px;
}

#xygbt a:hover {
	background: url(../imgs/xygbt-hover.gif) no-repeat;
	width: 99px;
}