#bimg {
	width:792px;
	height:301px;
	font-family:"微软雅黑";
	font-size:15px;
	float:left;
}

#bimg .picNewsImgGroup {
	height:301px;
	width:476px;
	float:left;
}

#bimg .picNewsImg {
	height:301px;
	width:476px;
	border:none;
}

#bimg A:link {
	COLOR:#000;
	TEXT-DECORATION:none;
}

#bimg A:visited {
	COLOR:#000;
	TEXT-DECORATION:none;
}

#bimg A:hover {
	COLOR:#F00;
	TEXT-DECORATION:none;
}

.ititlediv2{
	display: none;
	float:left;
}

#show{
	display:block
}

#simg {
	width:105px;
	position:relative;
	top:283px;
	left:-105px;
	float:left;
}

#simg DIV {
	FILTER: Alpha(opacity=75);
	BORDER-right: #fff 1px solid;
	FLOAT: left;
	WIDTH: 20px;
	HEIGHT: 18px;
	COLOR: #fff;	
	font-size:13px;
	TEXT-ALIGN: center;
	BACKGROUND: #333;
}

#simg DIV.s {
	BACKGROUND:#F00;
}

#infoc{
	width:276px;
	height:261px;
	text-align:left;
	position:relative;
	top:-19px;
	left:0;
	float:left;
	padding:20px; 
	background:url(../imgs/p_n_bg.gif) repeat-x;
}

#infoc h3 {
	text-align:center;
	color:red;
}

#picNewsContent {
	width:276px;
	height:261px;
}

