body {	
	text-align: center; 
	background:   url(/TW/img/bg.jpg) no-repeat;
}

#container
{
	width:1000px;	
	margin:50px auto 0 auto;
	
}
#menu {
	width:1000px;
	height:56px;
	background-image:url(/TW/img/hq.png);
	background-position:center top;
	background-repeat:no-repeat;
}
#banner {
	width:986px;
	margin-left:6px;
	border:1px solid #ff8000;
	border-bottom:none;
	height:128px;
}



#nav {
	width:792px;
	height:36px;
	margin:6px 0px 0px 10px;
	padding:0;
	float:left;
}

#nav li {
	list-style: none;
	width:99px;
	height:36px;
	float:left;
}

#nav a
{
	display: block;
	width: 99px;
	height: 36px;
	float: left;
	text-indent: -9000px;
	outline: 0;
}

.sy a {
	background-image:url(/TW/img/nav-sy.png);
}

.zz a {
	background-image:url(/TW/img/nav-zz.png);
}

.jd a {
	background-image:url(/TW/img/nav-jd.png);
}

.gg a {
	background-image:url(/TW/img/nav-gg.png);
}

.ll a {
	background-image:url(/TW/img/nav-ll.png);
}

.mt a {
	background-image:url(/TW/img/nav-mt.png);
}

.xz a {
	background-image:url(/TW/img/nav-xz.png);
}

.lx a {
	background-image:url(/TW/img/nav-lx.png);
}

.sy a:hover {
	background-image:url(/TW/img/nav-sy-hover.png);
}

.zz a:hover {
	background-image:url(/TW/img/nav-zz-hover.png);
}

.jd a:hover {
	background-image:url(/TW/img/nav-jd-hover.png);
}

.gg a:hover {
	background-image:url(/TW/img/nav-gg-hover.png);
}

.ll a:hover {
	background-image:url(/TW/img/nav-ll-hover.png);
}

.mt a:hover {
	background-image:url(/TW/img/nav-mt-hover.png);
}

.xz a:hover {
	background-image:url(/TW/img/nav-xz-hover.png);
}

.lx a:hover {
	background-image:url(/TW/img/nav-lx-hover.png);
}

.sy a.active,.sy a.active:hover {
	background-image:url(/TW/img/nav-sy-active.png);
}

.zz a.active,.zz a.active:hover {
	background-image:url(/TW/img/nav-zz-active.png);
}

.jd a.active,.jd a.active:hover {
	background-image:url(/TW/img/nav-jd-active.png);
}

.gg a.active,.gg a.active:hover {
	background-image:url(/TW/img/nav-gg-active.png);
}

.ll a.active,.ll a.active:hover {
	background-image:url(/TW/img/nav-ll-active.png);
}

.mt a.active,.mt a.active:hover {
	background-image:url(/TW/img/nav-mt-active.png);
}

.xz a.active,.xz a.active:hover {
	background-image:url(/TW/img/nav-xz-active.png);
}

.lx a.active,.lx a.active:hover {
	background-image:url(/TW/img/nav-lx-active.png);
}


#search {
	width:192px;
	height:36px;
	margin:6px 0px 0px 0px;
	float:left;
	background-image:url(/TW/img/search.png);
}

#page {
	width:1000px;	
}

#sidebar {
	width:200px;
	height:600px;
	float:left;
	background-image:url(/TW/img/sidebar.png);
	background-position:right;
	background-repeat:repeat-y;
	
}

#sidebar .sidebar-h {
	height:40px;
	width:200px;
	
}

#unsure1 .sidebar-h {
	background-image:url(/TW/img/sidebar-head-1.png);
}

#login .sidebar-h {
	margin-top:15px;
	background-image:url(/TW/img/sidebar-head-2.png);
}

#ipholder .sidebar-h {
	margin-top:15px;
	background-image:url(/TW/img/sidebar-head-3.png);
}

#sidebar .sidebar-p {	
	height:152px;
	width:186px;
	border:1px solid #e0e0e0;
	border-top-width:1px;
	margin:0 6px 6px 6px;
}


#content {
	width:800px;	
	float:left;
}

#unsure2 {
	width:792px;
	height:300px;
	border:1px solid #dcebf7;
	margin:0 6px 6px 0;
}

#news {
	width:800px;
	height:400px;
}

#news .subnews {
	width:400px;
	height:200px;
	float:left;
}

#news .news-h {
	height:40px;
	width:400px;
	background-image:url(/TW/img/news-head.jpg);
}

#news .news-p {
	height:200px;
	width:392px;
	border:1px solid #dcebf7;
	border-top-width:3px;
	margin:0 6px 6px 0;
}
#news .news-p a{
	color:1f201f;
	font-size:16px;
	text-decoration:none;
	
}
#linker {
	width:792px;
	height:60px;
	border:1px solid #dcebf7;
	margin:0 6px 0px 0;
}

#copyright {
	float:right;
	width:988px;
	margin-right:6px;
	height:100px;
	background-image:url(/TW/img/copyright.png);
	background-repeat:repeat-x;
}
#copyright a
{
	color: #844576;
	padding: auto;
}