body {
	width: 988px;
	margin: 50px auto 0 auto;
	background-image: url(/TW/img/bg.gif) ;
	background-repeat: repeat-x;
	background-position: center top;
	font-family: 微软雅黑, Georgia, Times New Roman, Times, serif;
}

a {
	text-decoration: none;
	font-size: 15px;	
}

#container {
	width: 988px;
	float: left;
}

#banner {
	width: 986px;
	height: 157px;
	border: 1px solid #ff8000;
	border-bottom:none;
	float: left;
}

#menu {
	width: 987px;
	height: 39px;
	border-left: 1px solid #ff8000;
	background: url(../img/hq.png);
	width: 987px;
	float: left;
}

#menu * {
	margin-left:0;
	padding-left:0;
	margin-right:0;
	padding-right:0;
	
}

#m_nav {
	width: 792px;
	height: 36px; 
	float: left;
	padding-left:0px;
	margin-top:2px;
}

#m_nav li {
	list-style: none;
	width: 99px;
	height: 36px;
	float: left;
}

#m_nav a {
	display: block;
	width: 99px;
	height: 36px;
	float: left;
	text-indent: -9000px;
	outline: 0;
}

#search {
	width: 294px;
	height: 36px;
	float: left;
	position:relative;
	left:0;
	margin-top: 2px;
	background: url(../img/searchbg.gif) repeat-x;
}

#search table {
	width:294px;
	}

#searchTextField {
	width:191px;
	height:19px;
	position:relative;
	top:6px;
	font-family: 微软雅黑, Georgia, Times New Roman, Times, serif;
	float:left;
	font-size:0.8em;
	}

#searchSubmit {
	width:66px;
	height:26px;
	position:relative;
	left:10px;
	top:5px;
	float:left;
	}

#blank-h1 {
	width: 988px;
	height: 6px;
	background-color: #FFF;
	float: left;
}

#page {
	z-index:1;
	float: left;
	width: 988px;
	background-color: #FFF;
}

#sidebar {
	width: 194px;
	float: left;
	background-color: #FFF;
}

.headText {
	position:relative;
	top:13px;
	left:55px;
	width:80px;
	font-size:100%;
	color:#444444;
	font-weight:bold;
	text-shadow:0 2px 3px rgba(0, 0, 0, 0.3);
}

.sideheadLink {
	width:34px;
	position:relative;
	left:145px;
}
	
.headLink {
	width:34px;
	position:relative;
	left:350px;
}
	
#sidebar .sidebar-h {
	height: 39px;
	width: 188px;
}
#sidebar .sidebar-p {
	width: 186px;
	border: 1px solid #e0e0e0;
	border-top: none;
	margin: 0 6px 6px 0;
}

#topic .sidebar-h {
	background: url(../img/sidebar-head-1.gif);
	width: 188px;
}

#proj .sidebar-h {
	background: url(../img/sidebar-head-2.gif);
	width: 188px;
}
#mag .sidebar-h {
	background: url(../img/sidebar-head-3.gif);
	width: 188px;
}
#org .sidebar-h {
	background: url(../img/sidebar-head-4.gif);
	width: 188px;
}

#ipholder .sidebar-h {
	background: url(../img/sidebar-head-5.gif);
	width: 188px;
}

#topic .sidebar-p {
	height: 120px;
}
	
#proj .sidebar-p {
	height: 170px;
}
	
#mag .sidebar-p{
	height: 120px;
}
	
#org .sidebar-p {
	height: 190px;
}
	
#ipholder .sidebar-p {
	height: 39px;
}

#content {
	width: 794px;
	float: left;
	background-color: #FFF;
	overflow: hidden;
}

.o_Table {
	margin:15px 200px 15px 200px;
	width:392px;
	text-align:center;
	border:solid #e0e0e0;
}

.o_Table td {
	border-collapse:collapse;
	border:solid #e0e0e0; 
	border-width:0 1px 1px 1px;
}

.o_Title {
	font-size:18px;
	color:red;
}

.o_l_Table{
	margin:15px 50px 15px 50px;
	width:692px;
}

.g_a_Table {
	font-size:15px;
	margin:15px 50px 15px 50px;
	text-align:left;
	width:694px;
	}
	
.g_a_Title {
	font-size:25px;
	text-align:center;
	padding-bottom:15px;
	color: #f00;
	}

/*
.organizationTable * {
	text-align:center;
	padding-left:75px;
	padding-right:81px;
}

.organizationTable {
	margin-left:auto;
	margin-right:auto;
	}

.organizationTitle {
	font-weight:bold;
	font-size:18px;
}


#organizationTable1 {
	position:relative;
	left:100px;
	}
	
#organizationTable2 {
	position:relative;
	left:70px;
	}
	
#organizationTable3 {
	position:relative;
	left:0;
	}

.articleTable {
	text-align:left;
	padding-right:15px;
	padding-left:15px;
}
*/

#news .news-p table {
	padding:0;
	margin:7px 7px 7px 7px;
	text-align:left;
	}

#content table a {
	text-decoration:none;
	font-size:13px;
	color:black;
	display: block;
}

#content table a:hover {
	text-decoration:none;
	color:red;
	font-size:13px;
	background: #f2f1e9;
}

#picNews {
	width: 794px;
	float: left;
	margin: 0 0 6px 0;
}

#picNews .picNews-h {
	height: 39px;
	width: 794px;
	background: url(../img/picNewsImg-head.gif);
	width: 794px;
	float: left;
}

#picNews .picNews-p {
	width: 792px;
	border: 1px solid #e0e0e0;
	border-top: none;
	height: 301px;
	float: left;
}

#news {
	width: 794px;
	float: left;
}

#news .subnews {
	width: 394px;
	float: left;
}

#news .news-h {
	height: 39px;
	width: 394px;
	background: url(../img/news-head.gif);
	width: 394px;
	float: left;
}

#news .news-p {
	height:215px;
	width: 392px;
	border: 1px solid #e0e0e0;
	border-top: none;
	margin: 0 0 6px 0;
	float: left;
	overflow:hidden;
}

#linker {
	width: 986px;
	height: 64px;
	margin: 10px 0 10px 0;
	border: 1px solid #e0e0e0;
	float:left;
}

#linkerHorizontalBlank {
	width:986px;
	height:6px;
	float:left;
	}

#linkerVerticalBlank {
	width:6px;
	height:52px;
	float:left;
	}
	
#linker a {
	float:left;
	display:block;
}

#linker img {
	border: 1px solid #e0e0e0;
}

#blank-v {
	width: 6px;
	height: 206px;
	background-color: #FFF;
	float: left;
}

#copyright {
	float: left;
	width: 988px;
	height: 50px;
	padding-top:16px;
	text-align: center;
}

#copyright {
	text-decoration:none;
	text-shadow:0 2px 3px rgba(0, 0, 0, 0.3)
	font-size:13px;
	font-color:#444751; 
	}

#copyright a:link { 
	text-decoration: none; color: #1160b7;
}

#blank-h2 {
	width: 988px;
	height: 50px;
	float: left;
}

#loginSuccessfulTable span {
	font-weight:bold;
}

#loginSuccessfulTable {
	font-size:15px;
}

#loginSuccessfulTable a:link {
	font-size:15px;
	color:black;
	text-decoration:none;
}

#loginSuccessfulTable a:visited {
	font-size:15px;
	color:black;
	text-decoration:none;	
}

#loginSuccessfulTable a:hover {
	font-size:15px;
	color:red;
	text-decoration:none;
}

#loginSuccessfulTable td {
	width:85px;
}

#articleNavi {
	text-align:center;
}
/*
#downloadPage {
	font-size:15px;
	margin-top:15px;
	margin-left:75px;
	margin-right:81px;
	text-align:left;
}

#downloadPage a {
	text-decoration:none;
	font-size:13px;
	color:black;
}

#downloadPage a:hover {
	text-decoration:none;
	color:blue;
	font-size:13px;
}
*/

#copyrightPage {
	font-size:13px;
	color:grey;
	margin-top:0;
	padding-top:0;
}

#copyrightPage a {
	font-size:13px;
	text-decoration:none;
}

#copyrightPage a:link{
	color:red;
}

#copyrightPage a:visited {
	color:red;
}

#copyrightPage a:hover {
	color:red;
}

.btn {
	background:url("/TW/img/btn_form.png") no-repeat scroll 0 0 transparent;
	border:medium none;
	color:#FFFFFF;
	cursor:pointer;
	font-size:14px;
	height:29px;
	width:75px;
}
