<div id="s_org">
<table>
	<tr><td><a href="http://tuanwei.nju.edu.cn/xsh/" target=_blank>学生会</a></td></tr>
	<tr><td><a href="http://tuanwei.nju.edu.cn/njuyh/">研究生会</a></td></tr>
	<tr><td><a href="http://tuanwei.nju.edu.cn/shetuan/">学生社团联合会</a></td></tr>
	<tr><td><a href="http://tuanwei.nju.edu.cn/volunteer/">青年志愿者协会</a></td></tr>
	<tr><td><a href="#">科技与创业协会</a></td></tr>
	<tr><td><a href="http://tuanwei.nju.edu.cn/redcross/">红十字会</a></td></tr>
	<tr><td><a href="#">广播台</a></td></tr>
</table>
</div>
<!--
    <div id="sorg" >
        <div class="sorg_inner">
            <div class="sorg_info">
                <div class="sicon icon1">
                </div>
                <a href="tuanwei.nju.edu.cn/xsh/" target=_blank>&nbsp;&nbsp;学&nbsp;&nbsp;生&nbsp;&nbsp;会</a>
            </div>
        </div>
		 <div class="c_div">
        </div>
        <div class="sorg_inner dl-inner-top">
            <div class="sorg_info">
                <a href="tuanwei.nju.edu.cn/njuyh/">&nbsp;&nbsp;研究生会</a>
            </div>
        </div>
		 <div class="c_div">
        </div>
        <div class="sorg_inner">
            <div class="sorg_info">
                <a href="tuanwei.nju.edu.cn/shetuan/">&nbsp;&nbsp;社&nbsp;&nbsp;联&nbsp;&nbsp;会</a>
            </div>
        </div>
		 <div class="c_div">
        </div>
        <div class="sorg_inner">
            <div class="sorg_info">
                <a href="tuanwei.nju.edu.cn/volunteer/">&nbsp;&nbsp;青年志愿者协会</a>
            </div>
        </div>
		 <div class="c_div">
        </div>
        <div class="sorg_inner">
            <div class="sorg_info">
                <a href="#">&nbsp;&nbsp;科技创业协会</a>
            </div>
        </div>
		 <div class="c_div">
        </div>
        <div class="sorg_inner">
            <div class="sorg_info">
                <a href="tuanwei.nju.edu.cn/redcross/">&nbsp;&nbsp;红十字会</a>
            </div>
        </div>
        <div class="c_div">
        </div>
    </div>
-->