
    <div id="sorg">
        <div class="sorg_inner">
            <div class="sorg_info">
                <div class="sicon icon1">
                </div>
                <a href="#" target=_blank>&nbsp;&nbsp;学&nbsp;&nbsp;生&nbsp;&nbsp;会</a>
            </div>
        </div>
		 <div class="c_div">
        </div>
        <div class="sorg_inner dl-inner-top">
            <div class="sorg_info">
                <a href="#">&nbsp;&nbsp;研究生会</a>
            </div>
        </div>
		 <div class="c_div">
        </div>
        <div class="sorg_inner">
            <div class="sorg_info">
                <a href="#">&nbsp;&nbsp;社&nbsp;&nbsp;联&nbsp;&nbsp;会</a>
            </div>
        </div>
		 <div class="c_div">
        </div>
        <div class="sorg_inner">
            <div class="sorg_info">
                <a href="#">&nbsp;&nbsp;青年志愿者协会</a>
            </div>
        </div>
		 <div class="c_div">
        </div>
        <div class="sorg_inner">
            <div class="sorg_info">
                <a href="#">&nbsp;&nbsp;科技创新协会</a>
            </div>
        </div>
		 <div class="c_div">
        </div>
        <div class="sorg_inner">
            <div class="sorg_info">
                <a href="#">&nbsp;&nbsp;红十字会</a>
            </div>
        </div>
        <div class="c_div">
        </div>
    </div>

