@charset "utf-8";
/* CSS Document */

#content {
	color:#000;
	background:#fff;
	overflow:auto;
	margin:0;
	padding:0;
	font-size:12px;
	font-family:verdana, sans-serif;
}


#content a {
	font-size:12px;
	font-family:verdana, sans-serif;
	color:#6E6E6E;
	text-decoration:none;
}

#content a:hover {
	font-size:12px;
	font-family:verdana, sans-serif;
	color:#000;
	text-decoration:underline;
}

#content h1, h2, h3, h4, h5, h6, ul, ol, li, form, p, dl, dt, dd, table, th, td, img, blockquote {
	margin:0;
	padding:0;
	border:0
}
#content input, button, textarea, img {
	line-height:normal;
	outline:0
}

#content table {
border-collapse:collapse;
border-spacing:0;
}

.gIbx .g-title-1 .fn-fle {
margin-bottom:2px;
}

.fn-fle {
float:left;
}

.gIbx .g-title-1 {
line-height:24px;
}

.g-title-1 {
text-indent:3px;
}

.ico-free, .gRead-dialog .reply .ctrl a, .gRead-dialog .tip-top, .gWel-space .nolimit, .gRead-info .flag, .g-menu-auto .ico, .g-probar, span.ipt-t, .g-addr, .g-addr .arr, .ico, .btngrp, .btn, .btn span, .btn .arr, .fn-ib {
-moz-box-align:center;
display:inline-block;
vertical-align:middle;
}

.g-title-1 h2 {
display:inline;
font-size:14px;
margin-right:5px;
}

.g-toolbar a, .g-toolbar .btn, .g-toolbar .btngrp, .g-toolbar select {
display:inline;
float:left;
vertical-align:baseline;
}

.g-toolbar .btn {
margin-top:5px;
}

.gRead-dialog .gRead-info .lb, .g-file .info, .gWel-ftlink, .g-cntalist .srch em, .gSys-inner-batt .pause, .gSys-inner-batt .upload, .btn-dft-disabd span, .btn-dft-gl-disabd span, .btn-dft-gc-disabd span, .btn-dft-gr-disabd span, .txt-disabd, .txt-del, .txt-info {
color:#7D7D7D;
}

.gIbx .g-toolbar {
clear:both;
position:relative;
}

.g-probar span, .gRead-gg, .gWel-tab .tabs, .gCmp-side .tabs li, .g-toolbar, .gFToptd, .g-table-comm thead tr, .fn-bgx {
	background-image:url("/TW/img/bgx.png");
	background-repeat:repeat-x;
}

.g-toolbar-top, .g-toolbar-bottom {
height:35px;
}

.g-toolbar {
background-position:0 -144px;
clear:both;
height:34px;
padding:0 10px;
white-space:nowrap;
width: 764px;
}

.btngrp {
margin-right:8px;
padding-right:1px;
}

.ico-free, .gRead-dialog .reply .ctrl a, .gRead-dialog .tip-top, .gWel-space .nolimit, .gRead-info .flag, .g-menu-auto .ico, .g-probar, span.ipt-t, .g-addr, .g-addr .arr, .ico, .btngrp, .btn, .btn span, .btn .arr, .fn-ib {
-moz-box-align:center;
display:inline-block;
vertical-align:middle;
}

.g-toolbar .btngrp-ext {
float:right;
margin-right:0;
}

.btn-dft-gl, .btn-dft-gl span, .btn-dft span {
background-position:-1692px 0;
}

.btn-dft span {
line-height:15px;
margin-right:3px;
padding:4px 9px 5px 12px;
}

.btn, .btn span {
cursor:pointer;
overflow:hidden;
text-align:center;
white-space:nowrap;
}

.btn-dft {
	border:0 none;
	color:#000000;
	height:24px;
	margin:0;
	overflow:hidden;
	padding:0;
	background-position:100% -24px;
	text-decoration:none;
}

.btngrp {
margin-right:8px;
padding-right:1px;
}

.btngrp {
margin-right:8px;
padding-right:1px;
}

.g-table-comm td {
padding-bottom:3px;
padding-top:4px;
}

.g-probar span, .gRead-gg, .gWel-tab .tabs, .gCmp-side .tabs li, .g-toolbar, .gFToptd, .g-table-comm thead tr, .fn-bgx {
background-image:url("/TW/img/bgx.png");
background-repeat:repeat-x;
}

.g-table-comm thead tr th {
border-color:#CCCCCC;
border-style:solid;
border-width:1px 0 1px 1px;
color:#686868;
font-weight:normal;
height:24px;
line-height:23px;
overflow:hidden;
padding:0 6px;
text-align:left;
white-space:nowrap;
}

.g-table-comm thead tr {
background-position:0 -252px;
}

.g-table-comm .ckb {
padding:0;
text-align:center;
width:28px;
}

.gIbx .g-table-comm .wd0 {
border-left:medium none;
padding:0;
width:12px;
}

.g-table-comm .wd1 {
width:22px;
border-left:medium none;
}

.g-table-comm thead tr th a {
color:#686868;
}

.coremail, .tip-arr, .tip-rc-l, .tip-rc-r, .g-addr .arr, .g-menu .arr, .btn, .btn span, .btn .arr, .gMtable, .core, .core a, .gSidebar .cnav li, .fn-bg {
background-image:url("/TW/img/bg.png");
background-repeat:no-repeat;
}

.gIbx .g-table-comm th.wd3 {
color:#000000;
}

.g-toolbar .btngrp a, .g-toolbar .btngrp select {
margin-left:4px;
margin-right:4px;
}

.g-toolbar a {
margin-top:10px;
}

.g-toolbar select {
margin-top:7px;
}

#tr_inbox_0 .wd0 {
border-left:medium none;
padding:0;
width:12px;
}

.g-table-comm tbody td {
border-color:#DCDCDC;
border-style:solid;
border-width:0 0 1px;
line-height:160%;
overflow:hidden;
padding:5px 6px 4px;
}

.g-table-comm tr:hover {
	background-color: #FFFFE1;
}

.btn-dft-hover-arr, .btn-dft-hover {
	background-position:100% -72px;
}

.btn-dft-gl-hover-arr, .btn-dft-gl-hover, .btn-dft-gl-hover-txt span, .btn-dft-hover-txt span, .btn-dft-gl-hover span, .btn-dft-gr-hover span, .btn-dft-hover span {
	background-position:-1692px -48px;
}

.btn-dft-active-arr, .btn-dft-active {
	background-position:100% -120px;
}

.ibx-sel {
color:#666666;
line-height:30px;
text-align:left;
}


.g-table-comm tbody td a {
color:#000000;
outline:medium none;
}

.txt-link, a {
color:#158144;
}

.gIbx .ibx-sel {
background-color:#F7F7F7;
color:#666666;
height:30px;
line-height:30px;
padding:0 10px;
text-align:left;
}

.msg-info {
	color:#000000;
	float:left;
	font-size:14px;
	margin-top:7px;
}

.lightBck {
	background-color: #FFFFCA;
}
