#content {
	font-family:Tahoma,Verdana,STHeiTi,simsun,sans-serif;
	font-size:14px;
}

#content table {
	margin: 0px;
	padding: 0px;
}

#content td {
	margin-left: 0px;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
	valign: center;
}

#content td a {
	font-size: 12px;
	text-decoration: none;
	color: #6E6E6E;
	noline:expression(this.onfocus=this.blur);
}

#content td a:hover {
	font-size: 12px;
	color: #000000;
	text-decoration:underline
}

#content .title {
	width: 530px;
	margin-left: 3px;
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: left;
}

#content .date {
	width: 80px;
}

#content .category {
	width: 80px;
}

#content .act {
	width: 40px;
}

#content .even {
	background: #EEEEEE;
}

#content .odd {
	background: #FFFFFF;
}
