@charset "utf-8";

/* CSS Document */
#sorg {
	
	padding: 5px 0 5px 0;
	width: 186px;
	
}

#sorg .sorg_title {
	height: 16px;
	padding: 1px;
}

.c_div {
	clear: both;
}

.sorg_inner {
	background: none repeat scroll 0 0 #f0f0f0;
	cursor: pointer;
	display: inline;
	float: left;
	margin: 3px 3px 0 8px;
	padding: 1px;
	height: 24px;
	width: 166px;
}

.sorg_inner .sorg_info:hover {
	border: 1px solid #ff9;
}

.sorg_inner .sorg_info {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #bbb;
	font-size: 16px;
	text-align: left;
	width: 99%;
	height: 24px;
	line-height: 30px;
	font-family: 微软雅黑, Georgia, Times New Roman, Times, serif;
}

#sorg a {
	text-decoration: none;
	color: #20517F;
}