body {	
	text-align: center; 
	margin: 0 auto;
	position: relative;
	background:  #E2E2E2 url(/TW/img/bg-body.png) repeat-x;
}

#menu {
	width:1000px;
	height:50px;
	background-color:#FFF;
}
#banner {
	width:1000px;
	height:180px;
}



#nav {
	width:794px;
	height:36px;
	border:1px solid #dcebf7;
	margin:6px 0 6px 6px;
	padding:0;
	float:left;
}

#nav li {
	list-style: none;
	width:99px;
	height:36px;
	float:left;
}

#nav a
{
	display: block;
	width: 99px;
	height: 36px;
	float: left;
	text-indent: -9000px;
	outline: 0;
}

.sy a {
	background-image:url(/TW/img/nav-sy.png);
}

.zz a {
	background-image:url(/TW/img/nav-zz.png);
}

.jd a {
	background-image:url(/TW/img/nav-jd.png);
}

.gg a {
	background-image:url(/TW/img/nav-gg.png);
}

.ll a {
	background-image:url(/TW/img/nav-ll.png);
}

.mt a {
	background-image:url(/TW/img/nav-mt.png);
}

.xz a {
	background-image:url(/TW/img/nav-xz.png);
}

.lx a {
	background-image:url(/TW/img/nav-lx.png);
}

.sy a:hover {
	background-image:url(/TW/img/nav-sy-hover.png);
}

.zz a:hover {
	background-image:url(/TW/img/nav-zz-hover.png);
}

.jd a:hover {
	background-image:url(/TW/img/nav-jd-hover.png);
}

.gg a:hover {
	background-image:url(/TW/img/nav-gg-hover.png);
}

.ll a:hover {
	background-image:url(/TW/img/nav-ll-hover.png);
}

.mt a:hover {
	background-image:url(/TW/img/nav-mt-hover.png);
}

.xz a:hover {
	background-image:url(/TW/img/nav-xz-hover.png);
}

.lx a:hover {
	background-image:url(/TW/img/nav-lx-hover.png);
}

.sy a:active {
	background-image:url(/TW/img/nav-sy-active.png);
}

.zz a:active {
	background-image:url(/TW/img/nav-zz-active.png);
}

.jd a:active {
	background-image:url(/TW/img/nav-jd-active.png);
}

.gg a:active {
	background-image:url(/TW/img/nav-gg-active.png);
}

.ll a:active {
	background-image:url(/TW/img/nav-ll-active.png);
}

.mt a:active {
	background-image:url(/TW/img/nav-mt-active.png);
}

.xz a:active {
	background-image:url(/TW/img/nav-xz-active.png);
}

.lx a:active {
	background-image:url(/TW/img/nav-lx-active.png);
}





#search {
	width:186px;
	height:36px;
	border:1px solid #dcebf7;
	margin:6px 6px 6px 6px;
	float:left;
	padding:0;
}

#page {
	width:1000px;
	height:600px;
	background-color:#FFF;
}

#sidebar {
	width:200px;
	height:600px;
	float:left;
}

#sidebar .sidebar-h {
	height:40px;
	width:200px;
}

#unsure1 .sidebar-h {
	background-image:url(/TW/img/sidebar-head-1.jpg);
}

#login .sidebar-h {
	background-image:url(/TW/img/sidebar-head-2.jpg);
}

#ipholder .sidebar-h {
	background-image:url(/TW/img/sidebar-head-3.jpg);
}

#sidebar .sidebar-p {	
	height:150px;
	width:186px;
	border:1px solid #dcebf7;
	border-top-width:3px;
	margin:0 6px 6px 6px;
	padding:auto;
}

#content {
	width:800px;
	height:600px;
	float:left;
}

#unsure2 {
	width:792px;
	height:142px;
	border:1px solid #dcebf7;
	margin:0 6px 6px 0;
}

#news {
	width:800px;
	height:400px;
}

#news .subnews {
	width:400px;
	height:200px;
	float:left;
}

#news .news-h {
	height:40px;
	width:400px;
	background-image:url(/TW/img/news-head.jpg);
}

#news .news-p {
	height:150px;
	width:392px;
	border:1px solid #dcebf7;
	border-top-width:3px;
	margin:0 6px 6px 0;
}

#linker {
	width:792px;
	height:42px;
	border:1px solid #dcebf7;
	margin:0 6px 6px 0;
}

#copyright {
	width:1000px;
	height:75px;
	padding: 15px 30px 15px;
	position: relative;
	color: #848484;
	font-size: 14px;
}
#copyright a
{
	color: #848484;
	padding: 6px 15px 0 0;
}