body {
	width:1000px;
	height:995px;
	margin:0 auto 100px auto;
	background:  url(/TW/img/bg-body.png) repeat-x;
}

#banner {
	width:1000px;
	height:180px;
}


#navigation {
	width:792px;
	height:36px;
	border:1px solid #dcebf7;
	margin:6px 0 6px 6px;
	float:left;
}

#nav
{
	width: 973px;
	height: 35px;
	margin: 0;
	position: absolute;
	bottom: 0;
	left: 0;
}



#nav li
{
	list-style: none;
	margin: 0;
	float: left;
	position: relative;
}



#nav a
{
	display: block;
	width: 120px;
	height: 35px;
	float: left;
	text-indent: -9000px;
	outline: 0;
	background: transparent url(/TW/img/nav.png) no-repeat 0 bottom;
}

#nav .home a
{
	width: 122px;
}

#nav .about_us a
{
	background-position: -122px bottom;
}

#nav .products a
{
	background-position: -242px bottom;
}

#nav .customers a
{
	background-position: -362px bottom;
}

#nav .news a
{
	background-position: -482px bottom;
}

#nav .community a
{
	background-position: -602px bottom;
}

#nav .career a
{
	background-position: -722px bottom;
}

#nav .contact a
{
	background-position: -842px bottom;
	width: 131px;
}



#nav .home a:hover
{
	background-position: 0 -40px;
}

#nav .about_us a:hover
{
	background-position: -122px -40px;
}

#nav .products a:hover, #nav .products:hover a
{
	background-position: -242px -40px;
}

#nav .customers a:hover
{
	background-position: -362px -40px;
}

#nav .news a:hover
{
	background-position: -482px -40px;
}

#nav .community a:hover
{
	background-position: -602px -40px;
}

#nav .career a:hover
{
	background-position: -722px -40px;
}

#nav .contact a:hover
{
	background-position: -842px -40px;
}



#nav .home a.active, #nav .home a.active:hover
{
	background-position: 0 0;
}

#nav .about_us a.active, #nav .about_us a.active:hover
{
	background-position: -122px 0;
}

#nav .products a.active, #nav .products a.active:hover
{
	background-position: -242px 0;
}

#nav .customers a.active, #nav .customers a.active:hover
{
	background-position: -362px 0;
}

#nav .news a.active, #nav .news a.active:hover
{
	background-position: -482px 0;
}

#nav .community a.active, #nav .community a.active:hover
{
	background-position: -602px 0;
}

#nav .career a.active, #nav .career a.active:hover
{
	background-position: -722px -0;
}

#nav .contact a.active, #nav .contact a.active:hover
{
	background-position: -842px 0;
}



#nav .contact a.active2
{
	background-position: -842px 0;
}






#search {
	width:186px;
	height:36px;
	border:1px solid #dcebf7;
	margin:6px 6px 6px 6px;
	float:left;
}

#page {
	width:1000px;
	height:600px;
	background-color:#FFF;
}

#sidebar {
	width:200px;
	height:600px;
	float:left;
}

#sidebar .sidebar-h {
	height:40px;
	width:200px;
}

#unsure1 .sidebar-h {
	background-image:url(/TW/img/sidebar-head-1.jpg);
}

#login .sidebar-h {
	background-image:url(/TW/img/sidebar-head-2.jpg);
}

#ipholder .sidebar-h {
	background-image:url(/TW/img/sidebar-head-3.jpg);
}

#sidebar .sidebar-p {
	height:150px;
	width:186px;
	border:1px solid #dcebf7;
	border-top-width:3px;
	margin:0 6px 6px 6px;
}

#content {
	width:800px;
	height:600px;
	float:left;
}

#unsure2 {
	width:792px;
	height:142px;
	border:1px solid #dcebf7;
	margin:0 6px 6px 0;
}

#news {
	width:800px;
	height:400px;
}

#news .subnews {
	width:400px;
	height:200px;
	float:left;
}

#news .news-h {
	height:40px;
	width:400px;
	background-image:url(/TW/img/news-head.jpg);
}

#news .news-p {
	height:150px;
	width:392px;
	border:1px solid #dcebf7;
	border-top-width:3px;
	margin:0 6px 6px 0;
}

#linker {
	width:792px;
	height:42px;
	border:1px solid #dcebf7;
	margin:0 6px 6px 0;
}

#copyright {
	width:1000px;
	height:75px;
	background-image:url(/TW/img/copyright.jpg);
}